@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Poppins:wght@100&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", "Serif";
}

.navbar-container img {
 
  width: 130px;
  margin-left: 98px;
  margin-top: 50px;
}

/* .navbar-container img {
position: absolute;
    width: 120px;
    left: 7%;
    top: 5%;
  } */

.list li {
  position: relative;
  top: -25px;
  left: 400px;
  padding-left: 50px;
  display: inline;
  font-size: 20px;
  /* position: absolute;
  padding: 100px; */
  
}

/* .list:nth-child(1){
    font-weight: 600;
} */

/* .globe span div img {
  width: 50px;
} */

.search-icon {
  position: absolute;
  top: 8.5%;
  right: 18%;
  /* width:50%; */
}

.nav-button {
  /* position: relative;
  left: 520px;
  top: -80px; */
  position: absolute;
  right: 8%;
  top:8%;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: .6rem;
  font-size: 22px;
  color: #717171;
  padding: 2px 30px 2px 30px;
  font-family: "Poppins","san serif";
}

/* EUREKA! */
.square img {
    width: 320px;
    position: absolute;
    bottom: 5%;
    left: 17%;
  }


.star img{
    position: absolute;
    right:10%;
    top: 25%;
    width: 50px;
}

.star1 img{
    position: absolute;
    right:52%;
    bottom: 10%;
    width: 40px;
}

.globe img{
    width: 55px;
    position: absolute;
    left: 55%;
    top: 20%;
}

.hero-container div>img{
    width: 400px;
    position: absolute;
    left: 7%;
    bottom: 12%;
}

.hero-heading{
position: absolute;
top: 34%;
right: 3%;
font-size: 60px;
}

.hero-description{
    position: absolute;
    right: 15%;
    top: 50%;
    left: 48%;
    font-family: "Poppins","san serif";
    font-size: 13px;
    color: #717171;
    text-align: center;
}

.button-join {
    position: absolute;
    bottom: 25%;
    left: 72%;
    background-color: #0e0101;
    color: #ffffff;
    padding: 4px;
    border-radius: 0.4rem;
    font-size:19px ;
  }
  
  .button-email {
    position: absolute;
    bottom: 25%;
    left: 58%;
    border: 2px solid #0e0101;
    padding: 2px 16px 2px 16px;
    border-radius: 0.4rem;
    background-color: #ffffff;
    color: #515151;
    font-size: 19px;
  }
  
  .contact-heading{
    position: absolute;
    right:27% ;
    bottom:12% ; 
    font-family: "Poppins","san serif";
    font-weight: 500;
    /* font-size: 15px; */
    color: #515151;
  }

  .icons{
    position: absolute;
    right:22% ;
    bottom:6% ; 
  }

  .icons span{
    padding-left: 23px;
    width: 100px;
  }

  .icons span img{
    width: 34px;
  }